[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
selenium = "*"
black = "*"
pytest-xdist = "*"
pytest-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
test_hl_chrome = "python -m pytest -n auto --browser headlesschrome"
test_hl_ff = "python -m pytest -n auto --browser headlessfirefox"
test_ff = "python -m pytest -n auto --browser firefox"
test_chrome = "python -m pytest -n auto --browser chrome"

[pytest]
env_files =
  .env
